{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if current_user.is_authenticated %}
<div>
	<a href="{{ url_for('organization') }}">Organization</a>
</div>
<div>
	<a href="{{ url_for('zendesk.index') }}">Zendesk</a>
</div>
<div>
	<a href="{{ url_for('logout') }}">Logout</a>
</div>
{% else %}
	<form method="POST" action="/">
	    {{ form.csrf_token }}
	    {{ form.email.label }} {{ form.email(size=20) }}
	    <input type="submit" value="Login">
	</form>
{% endif %}
{% endblock %}
