{% extends 'base.html' %}

{% block title %}Zendesk{% endblock %}

{% block body %}
<div>
	Setup your Zendesk account to start sending data.
</div>
<div>
	Initialized: {{ current_user.organization.zendesk_account.initialized }}
</div>
<div>
	<a href="{{ url_for('zendesk.reset') }}">Reset</a>
</div>
<div>
    <a href="{{ url_for('zendesk.activate') }}">Activate</a>
</div>
<div>
    <a href="{{ url_for('zendesk.deactivate') }}">Deactivate</a>
</div>
<div>
    <a href="{{ url_for('index') }}">Home</a>
</div>
{% endblock %}
